<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/content.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/game.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/admin.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/server.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/shop.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/stock.css">
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
	</head>
	<body>
		<div class='topbar'>
			<a href="/"><button>Home</button></a>
			{{#unless loggedIn}}
			<a href="/login"><button>Login</button></a>
			<a href="/signup"><button>Sign up</button></a>
			{{else}}
			<a href="/profile"><button>Profile</button></a>
			<a href="/console"><button>Console</button></a>
			<a href="/stocks"><button>Stocks</button></a>
			<a href="/bank"><button>Bank</button></a>
			<a href="/server"><button>Server</button></a>
			<a href="/shop"><button>Shop</button></a>
			<a href="/logout"><button>Logout</button></a>
			{{#if isAdmin}}
			<a href="/admin"><button>Adminarea</button></a>
			{{/if}}
			{{/unless}}
		</div>
		<div class="content">
			<div class="content_box">
				{{{ body }}}
			</div>
		</div>		
	</body>
</html>
