<h1>{{ title }}</h1>
{{#if loggedIn}}
You are logged in
<br>

<br>
<br>

<form action="/deposit" method="post">
	<input type="text" id="earnMoneyLabel" readonly name="amount" value=""></input>
	<br>
	<input type="button" id="earnMoney" value="Earn money!"></input>
	<button type="submit" id="DPbutton">Deposit</button>
</form>

<script>
var generatedMoney = 0;
document.getElementById("DPbutton").style.display = "none";
document.getElementById("earnMoney").onclick = function(){
	generatedMoney+=1;
	document.getElementById("DPbutton").style.display = "inline-block";
	document.getElementById("earnMoneyLabel").value = generatedMoney;
};

</script>
<h4>Online Players:</h4>
<div class="onlinePlayerList">
    <ul class="onlinePlayers">
        {{#each onlinePlayers}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</div>

<br>
{{else}}
Log in to start playing!
<br>
{{/if}}
