<h1>{{ title }}</h1>
{{#if loggedIn}}
<h5>Cashbonus</h5>
<a href="cashbonus"><button>Claim</button></a>
<br>

<h4>Online Players:</h4>
<div class="onlinePlayerList">
    <ul class="onlinePlayers">
        {{#each onlinePlayers}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</div>

<br>
{{else}}
Log in to start playing!
<br>
{{/if}}
