<form action="login" method="post">
	Login: (Username/email)
	<br />
	<input type="text" name="login">
	<br />
	Password:
	<br />
	<input type="password" name="password">
	<br />
	<button type="submit">Submit</button>
</form>
