<h1>{{ title }}</h1>
{{#if message}}
<p>{{message}}</p>
{{/if}}
{{#unless loggedIn}}
<form action="signup" method="post">
	email:
	<br />
	<input type="text" name="mail">
	<br />
	username:
	<br />
	<input type="text" name="username">
	<br />
	password:
	<br />
	<input type="text" name="password">
	<br />
	<button type="submit">Submit</button>
</form>
{{else}}
<p>logged in</p>
{{/unless}}
