<h1>{{ title }}</h1>
<form action="submit" method="post">
	<input type="text" name="mail">
	<br />
	<input type="text" name="username">
	<br />
	<input type="text" name="password">
	<br />
	<button type="submit">Submit</button>
</form>
