.console_input {
    background: #F2F2F2;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    outline: none;
    color: #737373;
    letter-spacing: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#commandlog {
    resize: none;
}
