.leftSide{
    height: 100%;
    width: 40%;
    float: left;
    box-sizing: border-box;
    border: 1px solid black;
    border-right: 0;
}
.rightSide{
    display: flex;
    float: left;
    width: 60%;
    height: 100%;
    flex-direction: column;
}

.mailBottom,.mailTop{
    position: relative;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    border: 1px solid black;
}

.mailBottom{
    border-top: 0;
}

.mailWrapper{
    width: 75%;
    height: 700px;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 40px;
}

.sendMail{
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 20px;
    margin-right: 20px;
}

.writeMail{
    position: absolute;
    width: 95%;
    height: 200px;
    bottom: 0px;
    left: 0px;
    margin: 10 10;
    resize: none;
}

.mailText{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 30px;
    margin-left: 20px;
}

.mailText2{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 70px;
    margin-left: 20px;
}

.mailPreview{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
}

.previewMail{
    background-color: #cfcfcf;
    width: 100%; 
    height: 100%;
    box-shadow: 0;
    border: 0;
}

.previewMail:hover{
    background-color: #a09f9f;
}