body {
    font-family: 'Josefin Slab', serif;
    font-size: 100%;
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
}

#earnMoneyLabel {
    text-align: center;
    border: none;
    background-color: #cfcfcf;
}

.tablestyle {
    border: 1px solid black;
}

.tablestyle th {
    border-bottom: 1px solid black;
}

.tablestyle td {
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

.topbar {
    margin: 0 auto;
}

.topbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(80, 80, 80);
}

.topbar li {
    float: left;
}

.topbar li a {
    display: block;
    color: rgb(230, 230, 230);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topbar li a:hover {
    background-color: rgb(50, 50, 50);
}
